page-about {
  .dv-header {
    background: url('../../assets/imgs/about-bg.png');
    background-size: 100% 100%;

    padding: 50px 0;

    img {
      width: 52%;
    }
  }

  ion-content {
    ion-spinner {
      margin: 40px auto;
      display: block;
    }

    p {
      white-space: pre-wrap;
    }
  }

}
