page-login {

  ion-content {
    background: url('../../assets/imgs/bg.png');
    background-size: 100% 100%;
  }

  .dv-logo {
    flex: 4;
  }

  .dv-form {
    background-color: white;
    padding: 40px 16px;
    margin: 0 20px;

    .container {
      align-items: center;
    }
  }

  .dv-social {
    flex: 5;
    padding: 0 34px;
    justify-content: flex-end;
  }

  button[ion-button] {
    span {
      font-size: 11pt;
      font-weight: 500;
    }
  }
}
