page-gallery {

  .item-inner {
    padding: 0 !important;

    .input-wrapper {
      > ion-label {
        margin: 0 !important;
      }
    }

  }

  .dv-image {
    height: 180px;
    background: #e8e8e8;
    justify-content: center;
    position: relative;

    > ion-icon {
      color: #aaa;
      font-size: 54pt;
    }

    button {
      position: absolute;
      bottom: 16px;
      right: 16px;
      height: auto;
      padding: 2px 12px !important;
      margin: 0 !important;

      ion-icon {
        font-size: 20pt;
      }
    }
  }

  .dv-content {
    padding: 8px 16px 16px 16px;
    white-space: initial;
    color: map_get($colors, dark);

    .sp-desc {
      font-size: 11pt;
    }

    .dv-rate {
      color: map_get($colors, warning);
      justify-content: space-between;

      .sp-price {
        font-weight: bold;
        font-size: 20pt;
      }
    }

    button {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

}
