<!--
  Generated template for the DownloadsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="bg-grad-toolbar">
    <button
      ion-button menuToggle
      color="light">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Download Page</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list
    class="list-custom"
    [virtualScroll]="getData()">
    <!-- showLoading -->
    <ion-spinner *ngIf="showLoading"></ion-spinner>
    <div
      class="dv-no-list-item flex-c-row"
      *ngIf="!showLoading && getData().length == 0">
      <span>No products purchased yet</span>
    </div>

    <ion-card
      *virtualItem="let p; let i = index"
      (click)="onItemDetail(i)">
      <div class="flex-column">
        <!-- product info -->
        <div class="flex-row dv-product">
          <!-- image -->
          <div class="dv-image flex-c-row">
            <ion-img
              src="{{p.imageUrl}}"
              [cache]="true"
            ></ion-img>

            <!-- default image icon -->
            <ion-icon name="images"></ion-icon>
          </div>

          <!-- content -->
          <div class="flex-column dv-text">
            <!-- title -->
            <span
              class="sp-title"
            >{{p.title}}</span>

            <!-- date -->
            <span
              class="sp-date"
            >{{p.createdAtStr()}}</span>

            <!-- rating -->
            <div class="flex-c-row dv-rate">
              <star-rate
                [rating]="p.rating"
                starSize="12"
                color="#ff5417"
                spacing="2"
                [mode]="1">
              </star-rate>
              <span
                class="sp-rate"
              >{{p.reviewCount}} reviews</span>
            </div>
          </div>
        </div>

        <!-- operation -->
        <div class="flex-c-row space-between dv-operation">
          <button
            ion-button small
          >Re-Download</button>

          <!-- price -->
          <span>$ {{p.price}}</span>
        </div>
      </div>

    </ion-card>

  </ion-list>

</ion-content>
