<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="bg-grad-toolbar">
    <button
      ion-button menuToggle
      color="light">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cart</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="flex-column">
    <!-- product list -->
    <ion-list class="list-custom">
      <!-- showLoading -->
      <ion-spinner *ngIf="showLoading"></ion-spinner>
      <div
        class="dv-no-list-item flex-c-row"
        *ngIf="!showLoading && getData().length == 0">
        <span>No products added yet</span>
      </div>

      <ion-item
        detail-none
        no-padding
        no-lines
        *ngFor="let p of getData(); let i = index">

        <div class="dv-product flex-row">
          <!-- image -->
          <div class="dv-image flex-c-row">
            <img src="{{p.imageUrl}}" />

            <!-- default image icon -->
            <ion-icon name="images"></ion-icon>
          </div>

          <!-- content -->
          <div class="flex-column dv-text">
            <!-- title -->
            <span
              class="sp-title"
            >{{p.title}}</span>

            <!-- price -->
            <span
              class="sp-price"
            >$ {{p.price}}</span>
          </div>

          <!-- close button -->
          <button
            ion-button clear icon-only
            color="lightdark"
            (click)="onButRemove(i)">
            <ion-icon name="close-circle"></ion-icon>
          </button>
        </div>

      </ion-item>
    </ion-list>

    <div
      class="flex-c-col"
      style="margin-top: 4px;"
      padding>
      <!-- subtotal -->
      <div class="flex-row space-between dv-line width-100">
        <span>SubTotal</span>
        <span>$ {{getSubTotal()}}</span>
      </div>
      <!-- tax -->
      <div class="flex-row space-between dv-line width-100">
        <span>Tax</span>
        <span>$ {{tax}}</span>
      </div>
      <!-- totla -->
      <div class="flex-row space-between dv-line-bold width-100">
        <span>TOTAL</span>
        <span>$ {{getTotal()}}</span>
      </div>

      <!-- pay button -->
      <button
        ion-button
        [disabled]="getTotal() <= 0"
        class="round-corner width-70 mt-60"
      >Pay</button>
    </div>
  </div>

</ion-content>
