page-product {

  ion-list-header {
    color: grey !important;
  }

  .img-user {
    width: 42px;
    height: 42px;
  }

  ion-item {
    padding: 12px 16px !important;
  }

  .sp-username {
    color: darkslategrey;
    font-size: 11pt;
    font-weight: 500;
  }
  .sp-time {
    color: #acacac;
    font-size: 9pt;
    margin-top: 10px;
  }
  .sp-review {
    white-space: normal;
    font-size: 11pt;
    color: #474747;
    margin-top: 10px;
  }

  .dv-product {
    .dv-rate {
      margin-top: 6px;
    }
  }

  ion-footer {
    ion-toolbar {
      .toolbar-background {
        background: transparent;
      }

      .toolbar-content {
        display: flex;
        justify-content: center;
      }

      padding: 16px !important;

      button {
        padding: 10px 40px !important;
      }
    }
  }
}
