<!--
  Generated template for the ProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="bg-grad-toolbar">
    <ion-title>Product Detail</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="flex-column">
    <!-- product info -->
    <div class="flex-column dv-product">
      <!-- image -->
      <div class="dv-image flex-c-row">
        <img src="{{product?.imageUrl}}" />

        <!-- default image icon -->
        <ion-icon name="images"></ion-icon>

        <!-- redownload -->
        <div *ngIf="isOperationAvailable()">
          <button
            ion-button auto
            *ngIf="isPurchased(); else butCart"
            (click)="doDownload(product, $event)">
            Re-Download
          </button>

          <ng-template #butCart>
            <!-- add to cart -->
            <button
              ion-button icon-start auto
              (click)="addToCart(product, $event)"
              *ngIf="!isInCart()">
              <ion-icon name="cart"></ion-icon>
              Add to Cart
            </button>
          </ng-template>
        </div>
      </div>

      <div class="dv-content">
        <!-- description -->
        <span
          class="sp-desc"
        >{{product?.desc}}</span>

        <div class="flex-c-row dv-rate">
          <!-- rating -->
          <star-rate
            [rating]="product?.rating"
            starSize="22">
          </star-rate>

          <!-- price -->
          <span class="sp-price">${{product?.price}}</span>
        </div>
      </div>
    </div>

    <!-- review list -->
    <ion-list
      class="list-custom"
      [virtualScroll]="reviews"
      no-lines>
      <ion-list-header>
        REVIEWS
      </ion-list-header>

      <!-- showLoading -->
      <ion-spinner *ngIf="showLoading"></ion-spinner>
      <div
        class="dv-no-list-item flex-c-row"
        *ngIf="!showLoading && reviews.length == 0">
        <span>No reviews yet</span>
      </div>

      <ion-item
        detail-none
        no-padding
        *virtualItem="let r">

        <!-- review data -->
        <div class="flex-row">

          <!-- user photo -->
          <img
            class="round img-user"
            src="../../assets/imgs/default_user.png" />

          <div
            class="flex-column width-100 "
            style="margin-left: 12px;">

            <div class="flex-row space-between">
              <div class="flex-column">
                <!-- username -->
                <span
                  class="sp-username"
                >Ellen McLaughlin</span>
                <!-- time -->
                <span
                  class="sp-time"
                >7 hours ago</span>
              </div>

              <!--star rating -->
              <star-rate
                [rating]="3"
                [mode]="1"
                starSize="16">
              </star-rate>
            </div>

            <!-- review -->
            <span
              class="sp-review"
            >Suspendisse imperdiet mi eget dolor sodales porttitor non vel elit. </span>

          </div>

        </div>

      </ion-item>
    </ion-list>

  </div>

</ion-content>

<ion-footer
  *ngIf="isPurchased()">
  <ion-toolbar>
    <button
      ion-button auto
      class="bt-normal"
      (click)="onWriteReview()">
      Left Review
    </button>
  </ion-toolbar>
</ion-footer>
