// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.flex-row {
  display: flex;
}
.flex-c-row {
  display: flex;
  align-items: center;
}
.flex-c-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-1 {
  flex: 1;
}
.space-between {
  justify-content: space-between;
}

.hj-center {
  align-self: center;
  justify-content: center !important;
  text-align: center;
}

//
// background
//
.bg-grad-toolbar {
  .toolbar-background {
    background: linear-gradient(to right, #45c38a, #80e8a3);
  }

  .toolbar-title {
    color: map_get($colors, light);
  }
}

.bg-grad {
  background: linear-gradient(to right, #45c38a, #80e8a3);
}

//
// width
//
.width-60 {
  width: 60%;
}
.width-70 {
  width: 70%;
}
.width-80 {
  width: 70%;
}
.width-100 {
  width: 100%;
}

//
// margin
//
.mt-40 {
  margin-top: 40px;
}
.mt-60 {
  margin-top: 60px;
}

//
// corner
//
.round-corner {
  border-radius: 10px;
}
.round {
  border-radius: 200px;
}

//
// border
//
.bottom-border {
  border-bottom: 1px solid #ccc;
}

//
// button
//
button[auto] {
  height: auto !important;
  ion-icon {
    line-height: 1;
  }
}
button[ion-button] {
  text-transform: none;
}
.bt-normal {
  border-radius: 10px;
  padding: 8px 12px;
}

ion-menu {
  ion-content {
    background: linear-gradient(#45c38a, #80e8a3);

    button[ion-item] {
      background: none;
      color: map_get($colors, light);
    }
  }
}

//
// product
//
.dv-product {
  .dv-image {
    height: 210px;
    background: #e8e8e8;
    justify-content: center;
    position: relative;

    > ion-icon {
      color: #aaa;
      font-size: 54pt;
    }

    button {
      position: absolute;
      bottom: 16px;
      right: 16px;
      height: auto;
      padding: 6px 12px;
      margin: 0 !important;

      ion-icon {
        font-size: 20pt;
      }
    }
  }

  .dv-content {
    padding: 8px 16px 16px 16px;
    white-space: initial;
    color: map_get($colors, dark);

    .sp-desc {
      font-size: 11pt;
    }

    .dv-rate {
      color: map_get($colors, warning);
      justify-content: space-between;

      .sp-price {
        font-weight: bold;
        font-size: 20pt;
      }
    }

    button {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}


//
// list
//
.list-custom {
  .item-inner {
    padding: 0 !important;

    .input-wrapper {
      > ion-label {
        margin: 0 !important;
      }
    }
  }
}

.back-button {
  color: map_get($colors, light);
}

//
// text area
//
ion-textarea {
  padding: 0 0 20px 0;

  textarea {
    width: 100%;
    height: 100%;
  }
}
